In [39]:
#Import Libraries

from bs4 import BeautifulSoup
import pandas as pd
import requests
import datetime
import csv

In [6]:
#downloading HTML document by requesting to the server

URL = 'https://www.amazon.in/SQL-Complete-Reference-James-Groff/dp/1259003884/ref=sr_1_2_sspa?keywords=sql+book&qid=1656331247&sprefix=sql+%2Caps%2C366&sr=8-2-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEzR1FNSU5CMzZBRVMyJmVuY3J5cHRlZElkPUEwOTI0OTAwMVZLV0lGWlhVVUxRUiZlbmNyeXB0ZWRBZElkPUEwNjc2MDkxMTNENjFETDY3SE5RUCZ3aWRnZXROYW1lPXNwX2F0ZiZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU='

headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/102.0.0.0 Safari/537.36", "Accept-Encoding": "gzip, deflate, br", "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9", "Upgrade-Insecure-Requests": "1"}

page = requests.get(URL, headers=headers)

page

In [10]:
#creating BeautifulSoup Object 

soup = BeautifulSoup(page.content, 'html.parser')

In [36]:
#extracting book title, book price, rating and reviews

booktitle = soup.find(id='productTitle').get_text()

bookprice = soup.find(id='price').get_text()

rating = soup.find(class_='a-icon-alt').get_text()

no_of_reviews = soup.find(id='acrCustomerReviewText').get_text()

 SQL The Complete Reference, 3rd Edition
â‚¹901.00
4.2 out of 5 stars
73 ratings

In [37]:
#cleaning and formatting extracted data

booktitle = booktitle.strip()

bookprice = bookprice[1:]

rating = rating[:3]

no_of_reviews = no_of_reviews[:2]

SQL The Complete Reference, 3rd Edition
901.00
4.2
73

In [45]:
#getting today's date

today = datetime.date.today()

print(today)

2022-06-27

In [47]:
# inserting data into csv

header = ['Title','Price','Date','Rating','Total Reviews']
data = [booktitle,bookprice,today,rating,no_of_reviews]

filename = 'C:/Users/ISHITA/Desktop/WebScraping.csv'

with open(filename, 'w', newline='', encoding='UTF8') as file:
    writer = csv.writer(file)
    writer.writerow(header)
    writer.writerow(data)

In [49]:
#storing the data as pandas dataframe

df = pd.read_csv(filename)

df

,Title,Price,Date,Rating,Total Reviews
0,"SQL The Complete Reference, 3rd Edition",901.0,2022-06-27,4.2,73